<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <a class="navbar-brand" href="#">Virtual College</a>
      <!-- Dropdown -->
      <li mdbDropdown class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" mdbDropdownToggle  aria-expanded="false">
          Listagens
        </a>
        <ul mdbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item" [routerLink]="['/courses']">Cursos</a></li>
          <li><a class="dropdown-item" [routerLink]="['/disciplines']">Disciplinas</a></li>
          <li><a class="dropdown-item" routerLink="">Alunos</a></li>
          <li><a class="dropdown-item" routerLink="">Professores</a></li>
          <li><a class="dropdown-item" routerLink="">Notas</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>