<div [ngSwitch]="loggedAs">
    <div *ngSwitchCase="['Professor', 'Aluno'].includes(loggedAs) ? loggedAs : !loggedAs">
        <div class="container">
            <h1 class="mt-3">Informação Disciplina: </h1>
            <table class="table" *ngIf="disciplineInfo && disciplineInfo.length > 0">
                <thead>
                    <tr>
                        <th class="text-center" scope="col">Id</th>
                        <th class="text-center" scope="col">Nome</th>
                        <th class="text-center" scope="col">Professor</th>
                        <th class="text-center" scope="col">Numero de alunos</th> 
                        <th class="text-center" scope="col">Turma</th> 
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let discipline of disciplineInfo" class="align-middle">
                        <td class="text-center" scope="row">{{ discipline.disciplineId }}</td>
                        <td class="text-center">{{ discipline.disciplineName }}</td>
                        <td class=" ">
                                <span>
                                    <li class=" list-group-item mt-3">
                                    <b>Id: </b>
                                    {{ discipline.disciplineProfessor.professorId }}
                                    </li>
                                    <li class=" list-group-item mt-3">
                                    <b>Nome: </b>
                                    <a [routerLink]="['/professors']">{{ discipline.disciplineProfessor.professorName }} </a>
                                    </li>
                                    <li class=" list-group-item mt-3">
                                    <b>Data de nascimento: </b>
                                    {{ discipline.disciplineProfessor.dateOfBirth }}
                                    </li>
                                    <li class=" list-group-item mt-3">
                                    <b>Salario: </b>
                                    {{ discipline.disciplineProfessor.salary }}
                                    </li>

                                </span>

                        </td>
                        <td class="text-center">{{ discipline.classNumber }}</td>
                        <td class="text-center">
                            <div class="discipline-students">
                                <ul class="">
                                    <li class="list-group-item mt-3 text-center" *ngIf="discipline.disciplineStudent.length == 0">
                                        <span> A disciplina não tem estudantes </span>
                                    </li>
                                    <li *ngFor="let student of discipline.disciplineStudent" class="list-group-item mt-3 text-center">
                                        <span > 
                                            <b>Nome:</b> <a [routerLink]="['/students']"> {{ student.studentName }} </a>
                                            <b>Nota:</b> {{ student.grade }}
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <p *ngIf="!disciplineInfo || disciplineInfo.length <= 0"> Não foi encontrada informação sobre a disciplina </p>
            <a *ngSwitchCase="'Administrador'" class="btn btn-primary" [routerLink]="['/disciplines/add']">Adicionar Disciplinas</a>
            
            <div class="mt-3">
                <div class="btn-toolbar text-end">
                    <button [routerLink]="['/courses']" class="btn btn-secondary ms-auto"> Voltar </button>
                </div>
            </div>
        
        </div>
    </div>
</div>
 