<div [ngSwitch]="loggedAs">
    <div *ngSwitchCase="['Professor', 'Aluno'].includes(loggedAs) ? loggedAs : !loggedAs">
        <div class="container">
            <h1 class="mt-3">Cursos</h1>
            <table class="table" *ngIf="coursesInfo && coursesInfo.length > 0">
                <thead>
                    <tr>
                        <th class="text-center" scope="col">Id</th>
                        <th class="text-center" scope="col">Nome</th>
                        <th class="text-center" scope="col">Professores</th>
                        <th class="text-center" scope="col">Medias de curso</th> 
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let course of coursesInfo" class="align-middle">
                        <td class="text-center" scope="row">{{ course.courseId }}</td>
                        <td class="text-center">{{ course.courseName }}</td>
                        <td class="text-center">{{ course.professorNr }}</td>
                        <td class="text-center">
                            <div class="course-students">
                                <ul class=" ">
                                    <li class="list-group-item mt-3 text-center" *ngIf="course.courseStudentAverages.length == 0">
                                        <span> O curso não tem estudantes </span>
                                    </li>
                                    <li *ngFor="let student of course.courseStudentAverages" class="list-group-item mt-3  text-center">
                                        <span >
                                            <b>Id:</b> {{ student.studentId }}  
                                            <b>Nome:</b> {{ student.studentName }} 
                                            <b>Média:</b> {{ student.average }}
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <p *ngIf="!coursesInfo || coursesInfo.length <= 0"> No courses available/found </p>
            <a *ngSwitchCase="'Administrador'" class="btn btn-primary" [routerLink]="['/courses/add']">Adicionar Cursos</a>
            
            <div class="mt-3">
                <div class="btn-toolbar text-end">
                    <button [routerLink]="['/courses']" class="btn btn-secondary ms-auto"> Voltar </button>
                </div>
            </div>
        
        </div>
    </div>
</div>
 